<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyDramaMatch</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<!-- begin body -->
<body>

<header>
  <a class="logo__container" href="http://localhost:8009/"><img class="logo" src="images/logo.svg" alt="MyDramaMatch logo"></a>
  <nav>
    <ul>
      <li><a class="aboutHeader" href="/about">ABOUT</a></li>
      <li><a class="profileHeader" href="/profile">MY PROFILE</a></li>
    </ul>
  </nav>
</header>
