<%- include ("./partials/head") %>

<!-- begin main -->
<main>

<div class="back__button__container">
  <a class="back__button" href="/">BACK</a>
</div>

  <div class="user__card">
    <div class="user">
    <div class="card__image"><img src="/images/dog.jpg" alt=""></div>
    <div class="card__content">
      <div class="card__name">Ann</div>
      <div class="card__favDrama">Crash Landing On You</div>
      <div class="card__oneliner">"Hey you!"</div>
      <form class="" action="index.html" method="post">
        <p>Like or Dislike?</p>
        <input type="radio" name="like" id="like" value="like">
        <label for="like">Like</label>
        <input type="radio" name="like" id="dislike" value="dislike" checked>
        <label for="dislike">Dislike</label>
      </form>
      </div>
    </div>
  </div>

</main>

<%- include ("./partials/footer") %>
