<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home - MyDramaMatch</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<!-- begin body -->
<body>

<header>
  <div class="">
    <h1>insert MyDramaMatch logo</h1>
  </div>

  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Matches</a></li>
      <li><a href="#">My Profile</a></li>
    </ul>
  </nav>

</header>

<main>
<h2>MyDramaMatch is a matching app which matches you to people with similar taste in Kdramas! Start the quiz to find your match!</h2>

  <a href="/question1.ejs"><h3>start the quiz</h3></a>
</main>

<footer></footer>

</body>
</html>
