<%- include ("./partials/head") %>

<!-- begin main -->
<main>

<section class="cards">

  <a href="#" class="card">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">Ann</div>
      <div class="card__favDrama">Crash Landing On You</div>
      <div class="card__oneliner">"Hey you!"</div>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">Robin</div>
      <div class="card__favDrama">Kingdom</div>
      <div class="card__oneliner">"I feel great!"</div>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">Mimi</div>
      <div class="card__favDrama">Save Me</div>
      <div class="card__oneliner">"O_o"</div>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">Jo</div>
      <div class="card__favDrama">Goblin</div>
      <div class="card__oneliner">"I'm Sunny."</div>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">Lisa</div>
      <div class="card__favDrama">True Beauty</div>
      <div class="card__oneliner">"Ang~"</div>
    </div>
  </a>

</section>

</main>

<%- include ("./partials/footer") %>
