<%- include ("./partials/head") %>

<!-- begin main -->
<main>

  <h2>My Profile</h2>

<div class="profileCard">
  <div class="profile">
    <div class="card__image"></div>
    <div class="card__content">
      <div class="card__name">X</div>
      <div class="card__favDrama">It's Okay To Not Be Okay</div>
      <div class="card__oneliner">"What's up?"</div>
      <button type="button" name="button">EDIT</button>
    </div>
  </div>
</div>


</main>

<%- include ("./partials/footer") %>
