<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Question 1 - MyDramaMatch</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- begin body -->
<body>

<header>
  <div class="">
    <h1>insert MyDramaMatch logo</h1>
  </div>

<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Matches</a></li>
    <li><a href="#">My Profile</a></li>
  </ul>
</nav>

<h1>1. In which time period do you prefer your dramas to be set?</h1>
</header>

<main>

<form class="" action="profile.html" method="post">

<fieldset>
<!-- legend toevoegen? -->
<input type="radio" id="past" name="time" value="past">
<label for="past">The past</label>

<input type="radio" id="present" name="time" value="present">
<label for="present">The present</label>

<input type="radio" id="future" name="time" value="future">
<label for="future">The future</label>

<input type="radio" id="idc" name="time" value="idc">
<label for="idc">I have no preference</label>

<button type="submit" name="button">Next</button>
</fieldset>

</form>
</main>

<footer></footer>

</body>
</html>
